<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
Hello, this is my landing page. How are you doing? {{ body }}
<br>
<input id="author_name_input" type="text" placeholder="Twitter user's handle">
<br>
<button id="author_submit">
    Insert user into database
</button>
<br>
<br>
<input id="tweet_text_input" type=text" placeholder="Tweet to classify">
<br>
<button id="tweet_submit">
    Classify tweet
</button>
<br>
</body>
<script src="../static/tweet.js"></script>
</html>